/* ============ TOP ============ */
*  {
  	font-family: sans-serif;
}
*::selection {
  	background-color: #ca1a28;
}
body {
	background-color: var(--lego-white);
	margin: auto;
}


/* ============ COLOUR VARIABLES ============ */
:root {
	--lego-yellow: #ffcd03;
	--lego-red: #dd1a21;
	--lego-white: #f4f4f4;
	--lego-black: #151515;
}


/* ============ GRID ============ */
.grid {
	display: grid;
	grid-template-columns: 250px auto auto auto;
	grid-template-rows: 120px auto auto 30px;
	grid-template-areas:
	"logo navbar navbar navbar"
	"main main main main"
	"item item item item"
	"footer footer footer footer";
	height: 100vh;
}
.grid-main {
  	grid-area: main;
}
.grid-item {
  	grid-area: item;
}


/* ============ LOGO ============ */
.logo {
	background-color: var(--lego-black);
	grid-area: logo;
}
.logo > a > img {
	margin: 0px 0px 5px 0px;
	padding-top: 25px;
	padding-left: 120px;
	width: 50px;
}


/* ============ NAVBAR ============ */
.navbar {
	display: inline-flex;
	background-color: var(--lego-black);
	align-items: center;
	grid-area: navbar;
}
.navbar > nav {
	word-spacing: 40px;
}
.navbar > nav > a {
	color: var(--lego-white);
	font-weight: lighter;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar > nav > a:hover {
	color: var(--lego-yellow);
	text-decoration: none;
	transition: 0.3s;
}


/* ============ FOOTER ============ */
.footer {
	background-color: var(--lego-black);
	color: var(--lego-red);
	font-weight: bold;
	font-size: 11px;
	padding: 10px 0px 10px 30px;
	grid-area: footer;
}
.footer > a {
	text-decoration: none;
}


/* ============ SCROLLBAR ============ */
::-webkit-scrollbar {
  	width: 10px;
  	height: 10px;
}
::-webkit-scrollbar-track {
  	background-color: var(--lego-black);
}
::-webkit-scrollbar-corner {
  	background-color: var(--lego-black);
}
::-webkit-scrollbar-thumb {
  	background-color: var(--lego-white);
}


/* ============ INDEX ============ */

.nummerbar{
	background-color: rgba(0, 128, 0, 0.288);
}

 #ordencont{

	 background-color: rgba(255, 0, 0, 0.116);
}

 .indexSets{
	background-color: rgba(32, 16, 248, 0.178);
}

.ordenen {
	grid-area: main;
	text-align: center;
	margin: 80px;
}
.indexMinifig {
	border: solid var(--lego-black) 5px;
	width: 300px;
}
.indexSets > img {
	border: solid var(--lego-black) 5px;
	height: 200px;
	margin: 1%;

}
.ordenen .popup .overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0,.7);
	z-index: 1;
	display: none;
}
.ordenen .popup .content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	width: 450px;
	height: 220px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	border: solid var(--lego-black) 3px;
}
.ordenen .popup .close-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 1px;
	background: transparent;
	color:transparent;
	font-size: 25px;
	font-weight: 60;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}
.popup.active .overlay {
	display: block;
}
.popup.active .content {
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}
.ordenen .popup .content > h3{
  	margin-top: 5%;
}
.ordenen .popup .content > textarea {
  	resize: none;
}


/* ============ GEORDEND ============ */
.geordend {
  	grid-area: main;
  	text-align: center;
}
.geoSet {
  	margin-top: 30px;
}
.geoSet > a > img{
  	margin: 10px;
}
.geoSet > button {
	background-color: var(--lego-white);
	color: var(--lego-red);
	border: solid var(--lego-red);
	cursor: pointer;
	text-align: right;
	margin: 10px;
	margin-left: 440px;
	font-size: 20px;
}


/* ============ MINIFIGS ============ */
.minifig {
	margin-top: 30px;
	grid-area: main;
	text-align: center;
}
#Part {
	display: grid;
	grid-template-columns: auto;
}


/* ============ SETS ============ */
.set {
	margin-top: 30px;
	grid-area: main;
	text-align: center;
}
#Mini {
	display: grid;
	grid-template-columns: auto;
}

/* ============ BLACKLIST ============ */
.blacklist {
	margin-left: 35%;
	margin-top: 30px;
	grid-area: main;
	display: grid;
	grid-template-areas: 
	"bi1"
	"bi2"
	"bi3";
}
.blackImg {
	margin: 10px;
	grid-area: blackImg;
}
.reason {
  	grid-area: reason;
}
.reason > textarea {
  	resize: none;
}
.blacklistItem1 {
  	display: flex;
  	grid-area: bi1;
}
.blacklistItem2 {
  	display: flex;
  	grid-area: bi2;
}
.blacklistItem3 {
  	display: flex;
  	grid-area: bi3;
}


/* ============ LANDING ============ */
.landing {
	display: grid;
	grid-template-columns: auto auto auto ;
	grid-template-rows: auto auto  ;
	padding-top: 10%;
	padding-left: 50px;
	padding-right: 50px;
}
.landing .project{
  	text-align: center;
}
.landing .project > a > img {
  	margin: 30px;
  	height: 100px;
}
.landing .project > a > h2 {
  	margin: 5px;
	color: var(--lego-black);
	font-weight: lighter;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}
.landing .popup .overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0,.7);
	z-index: 1;
	display: none;
}
.landing .popup .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	width: 450px;
	height: 220px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	border: solid var(--lego-black) 3px;
}
.landing .popup .close-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: #222;
	color:#fff;
	font-size: 25px;
	font-weight: 60;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}
.popup.active .overlay {
	display: block;
}
.popup.active .content {
  	transition: all 300ms ease-in-out;
  	transform: translate(-50%, -50%) scale(1);
}
.landing .popup .content > h3 {
  	margin-top: 20%;
}
