/* ============ TOP ============ */
*  {
  	font-family: sans-serif;
}
*::selection {
  	background-color: var(--lego-red);
}
body {
	background-color: var(--lego-white);
	margin: auto;
}


/* ============ COLOUR VARIABLES ============ */
:root {
	--lego-yellow: #ffcd03;
	--lego-red: #dd1a21;
	--lego-white: #f4f4f4;
	--lego-black: #151515;
}


/* ============ GRID ============ */
.grid {
	display: grid;
	grid-template-columns: 250px auto auto auto;
	grid-template-rows: 120px auto auto 30px;
	grid-template-areas:
	"logo navbar navbar navbar"
	"main main main main"
	"item item item item"
	"footer footer footer footer";
	height: 100vh;
}



/* ============ LOGO ============ */
.logo {
	background-color: var(--lego-black);
	grid-area: logo;
}
.logo > a > img {
	margin: 0px 0px 5px 0px;
	padding-top: 25px;
	padding-left: 120px;
	width: 50px;
}


/* ============ NAVBAR ============ */
.navbar {
	display: inline-flex;
	background-color: var(--lego-black);
	align-items: center;
	grid-area: navbar;
}
.navbar > nav {
	word-spacing: 40px;
}
.navbar > nav > a {
	color: var(--lego-white);
	font-weight: lighter;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar > nav > a:hover {
	color: var(--lego-yellow);
	text-decoration: none;
	transition: 0.3s;
}


/* ============ FOOTER ============ */
.footer {
	background-color: var(--lego-black);
	color: var(--lego-red);
	font-weight: bold;
	font-size: 11px;
	padding: 10px 0px 10px 30px;
	grid-area: footer;
}
.footer > a {
	text-decoration: none;
}


/* ============ SCROLLBAR ============ */
::-webkit-scrollbar {
  	width: 10px;
  	height: 10px;
}
::-webkit-scrollbar-track {
  	background-color: var(--lego-black);
}
::-webkit-scrollbar-corner {
  	background-color: var(--lego-black);
}
::-webkit-scrollbar-thumb {
  	background-color: var(--lego-white);
}


/* ============ INDEX ============ */
.index-input-area {
	margin-left: auto;
	margin-right: auto;
}
.index-input-area > h1 {
	display: flex;
}
#index-content-area {
	background-color: red;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.index-sets {
	background-color: blue;
}
.index-lego {
	grid-area: main;
	text-align: center;
	margin: 80px;
}
.index-minifig {
	border: solid var(--lego-black) 3px;
	height: 200px;
}
.index-sets > img {
	border: solid var(--lego-black) 3px;
	height: 75px;
	margin: 1%;
}
.index-lego .index-popup-container .index-popup-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	width: 450px;
	height: 220px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	border: solid var(--lego-black) 3px;
}
.index-popup-container.active .index-popup-content {
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}
.index-lego .index-popup-container .index-popup-content > h3{
  	margin-top: 5%;
}
.index-lego .index-popup-container .index-popup-content > textarea {
  	resize: none;
}


/* ============ GEORDEND ============ */



/* ============ MINIFIGS ============ */



/* ============ SETS ============ */



/* ============ BLACKLIST ============ */
#blacklist-input-area {
	align-items: center;
	margin-left: 35%;
	margin-top: 30px;
}
.blacklist-container {
	grid-area: blacklist-container;
}
.blacklist-container > textarea {
	resize: none;
}
.blacklist-lego {
	display: flex;
	grid-area: bi3;
}


/* ============ LANDING ============ */
.landing-grid {
	display: grid;
	grid-template-columns: auto auto auto ;
	grid-template-rows: auto auto;
	justify-content: center;
	margin-top: 100px;
}
.landing-grid .landing-popup-container .landing-popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	width: 450px;
	height: 220px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	border: solid var(--lego-black) 3px;
}
.landing-grid .landing-popup-container .landing-popup-close {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
	width: 30px;
    background: #222;
    color:#fff;
    font-size: 25px;
    font-weight: 60;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
	cursor: pointer;
}
.landing-project {
	background-color: var(--lego-yellow);
	height: 220px;
	width: 200px;
	margin: 75px;
	border-radius: 10%;
	transition: transform .2s;
}
.landing-project .landing-project-img {
	max-width: 200px;
	border-radius: 10%;
}
.landing-project:hover {
	cursor: pointer;
	transform: scale(1.2);
}
.landing-popup-container.active .landing-popup-content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
.landing-grid .landing-popup-container .landing-popup-content > h3 {
    margin-top: 20%;
}
